body{
    background-image: url("/media/background_main.jpg");
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
    display: flex;
}
#photo{
    background-color: blueviolet;
    margin-left: 100px;
    margin-top: 100px;
    flex: 1;
    width:700px;
    height:500px;
}
.div{
    flex: 2;
     padding: 20px;
}
.about-container{
    background-color:rgb(255, 240, 240);; 
    color: #a84957;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}