body {
    background-image: url("/media/background_main.jpg");
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh; /* Change max-height to height for full viewport height */
}

#destination-photo {
    background-color: blueviolet;
    margin-left: 75px;
    margin-top: 50px;
    flex: 1;
    border-radius: 10px;
}

.div {
    margin-top: 0px;
    height: 100vh;
    flex: 1;
    padding-left: 20px;
    align-items: flex-start; /* Add this line */
}

.about-container {
    font: 30px  'Lobster', cursive;
    background-color: rgb(255, 240, 240);
    color: #a84957;
    text-align: center;
    padding: 30px;
    /* margin: 20px; */
    margin-top: 50px;
    margin-left: 50px;
    align-self: flex-start;
    border-radius: 10px;
    border: 2px solid #a84957;
    height: 400px;
    width: 550px;
    display: flex; 
    flex-direction: column;
}
#destination-heading{
    font: 30px  'Lobster', cursive;
}

#destination-description {
    font: 20px  'Playfair',serif;
    background-color: #a84957;
    color: rgb(255, 240, 240);
    text-align: left;
    padding: 30px;
    padding-left: 30px;
    padding-right: 30px;
    height: 150px;
    width: 450px;
    margin-left: 20px;
    border-radius: 10px;
    flex: 1; /* Use flex property to make it expand */
}

#destination-top-attractions {
    font: 20px  'Playfair',serif;
    background-color: #a84957;
    color: rgb(255, 240, 240);
    text-align: left;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    height: 150px;
    width: 450px;
    margin-left: 20px;
    margin-top: 5px;
    border-radius: 10px;
}
#goBack{
    font: 25px  'Playfair',serif;
    background-color: #ffebeb;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: #531b25;
    cursor: pointer;
    outline: none;
    outline: 3px solid #904955;
    margin: 10px;
    margin-top: 25px;
    margin-left: 350px;
    height: 30px;
}

#goBack:hover {
    background-color: #904955;
    color: #ffebeb;
    outline: 1px solid #904955;
    transition: 0.3s;
}
.reviews{
    background-color: rgb(255, 240, 240);
    color: #a84957;
    margin: 20px;
    margin-top: 15px;
    margin-left: 50px;
    align-self: flex-start;
    border-radius: 10px;
    border: 2px solid #a84957;
    height: 100px;
    width: 550px;
}
#review-heading{
    font: 20px  'Lobster', cursive;
    text-align: left;
    margin-left: 15px;
}
#personal-review{
    font: 20px  'Playfair',serif;
    margin-left: 15px;
    background-color: rgb(255, 240, 240);
    color: #a84957;
    text-align: left;
}
.other-reviews{
    background-color: rgb(255, 240, 240);
    color: #a84957;
    margin: 20px;
    margin-top: 15px;
    margin-left: 50px;
    align-self: flex-start;
    border-radius: 10px;
    border: 2px solid #a84957;
    height: 100px;
    width: 550px;
}
#other-review-heading{
    font: 20px  'Lobster', cursive;
    text-align: left;
    margin-left: 15px;
}
#other-reviews{
    font: 20px  'Playfair',serif;
    margin-left: 15px;
    background-color: rgb(255, 240, 240);
    color: #a84957;
    text-align: left;
}
