body {
    background-image: url("/media/background_main.jpg");
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}


.title h1{
    font-family: 'Dancing Script', cursive;
    position: center;
    font-size: 50px;
    color: #904955;
    text-align: center;
    margin-top:5vh;
}

.title p{
    font-family: 'Dancing Script', cursive;
    position: center;
    font-size: 30px;
    color: #904955;
    text-align: center;
    margin-top: 1vh;
}

.box{
    overflow-y: scroll;
    background-color: rgb(255, 240, 240);
    color: #a84957;
    margin: 30px;
    margin-top: -1px;
    position: center;
    border-radius: 10px;
    border: 2px solid #a84957;
    height: 400px;
    width: 1200px;
}

#back_btn{
    margin-left: 15cm;
}

.form-check{
    margin-left: 14.5cm;
    position: center;
}

#consentBox{
    font-family: 'Dancing Script', cursive;
    position: center;
    font-size: 25px;
    color: #904955;
    text-align: center;
    /* margin-top:5vh; */
}


