body{
    background-image: url("/media/background_main.jpg");
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    max-height: 100vh;
}

.title{
    font-family: 'Dancing Script', cursive;
    position: center;
    font-size: 50px;
    color: #904955;
    text-align: left;
    margin-top:5vh;
    margin-left: 1cm;
}

.container{
    display: flex;
}

.form-label{
    font-family: 'Dancing Script', cursive;
    position: left;
    font-size: 25px;
    color: #904955;
    text-align: left; 
}

.form-control{
    position:left;
    text-align: left;
    row-gap:20px;
    padding: 10px;
    width: 100vh;
    margin-top: 1vh;
    margin-right: 2cm; 
    margin-left: -1cm;
}

.addPhoto p{
    font-family: 'Dancing Script', cursive;
    position: left;
    font-size: 25px;
    color: #904955;
    text-align: left; 
}

.buttonBack{
    padding-left: 150px;
    padding-top: 50px;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

#goBack{
    margin-left: 0px;
    margin-top:50px;
    font: 25px  'Playfair',serif;
    border:none;
    background-color: #ed8f8f;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: #531b25;
    cursor: pointer;
    outline: 3px solid #904955;
    margin: 10px;
    margin-bottom:1.5rem;
}

#goBack:hover{
    background-color: #ffbcbc;

}

/* #selectPhoto{
    font: 25px  'Playfair',serif;
    border:none;
    background-color: #ed8f8f;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: #531b25;
    cursor: pointer;
    outline: 3px solid #904955;
    margin: 10px;
    margin-bottom:1.5rem;
}

#selectPhoto:hover{
    background-color: #ffbcbc;
} */


#add_btn{
    font: 25px  'Playfair',serif;
    border:none;
    background-color: #ed8f8f;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
    color: #531b25;
    cursor: pointer;
    outline: 3px solid #904955;
    margin: 0px;
    margin-bottom:1.5rem;
}
#add_btn:hover{
    background-color: #ffbcbc;
}
  